html
    head
        title bugHD notify
    body
        table
            tr
                th project_name
                th issue_title
                th uri
                th issue_stack
            - each data in datas
                    td= data.project_name
                    td= data.issue_title
                    td
                        a(href=data.uri) link to issue page
                    td
                        code= data.issue_stack

