extends ../layout

block content
    div.row
        div.col-lg-12
            h1 大v
            h1.page-header 静默授权
            h2
                a(href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=" + AppID + "&redirect_uri=https%3A%2F%2Fapi.xiao5market.com%2Fwechat%2Fauth&response_type=code&scope=snsapi_base&state=STATE#wechat_redirect") 跳转
            h1.page-header 手动授权
            h2
                a(href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=" + AppID + "&redirect_uri=https%3A%2F%2Fapi.xiao5market.com%2Fwechat%2Fauth&response_type=code&scope=snsapi_userinfo&state=#wechat_redirect") 跳转

